__pycache__/
.venv/
.vscode/
.pytest_cache/
*.m
/plugins/Keithley/IVLS_DLT_dummy.m
pyIVLS.ini.old
.ruff_cache
pyIVLS.log
*.log
*.csv
*.dat
pyIVLS.ini
!ivls_data.dat
!plugins/Keithley2612B/ivls_data.dat
calibration_data.npy
plugins\affineMove\calibration_data.npy
plugins/AffineMove/calibration_data.npy
plugins/affineMove/bounding_boxes_data.npy
plugins\AffineMove\bounding_boxes_data.npy
bounding_boxes_data.npy
*.gds
.github\copilot-instructions.md