# /etc/udev/rules.d/99-suttermcp325.rules

# Give permissions to plugdev group
SUBSYSTEM=="usb", ATTR{idVendor}=="1342", ATTR{idProduct}=="0001", GROUP="plugdev", MODE="0666"

# make ftdi_sio driver available for the device
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1342", ATTRS{idProduct}=="0001", RUN+="/sbin/modprobe -q ftdi_sio product=0x0001 vendor=0x1342"

# Load ftdi_sio driver for the device and add new IDs
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1342", ATTRS{idProduct}=="0001", RUN+="/bin/sh -c 'echo \"1342 0001\" > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"

